---
layout: page
permalink: /categories/
title: Categories
---


<style>
  /* Adjust the margin and padding as needed */
  .archive-group {
    margin-bottom: 1rem; /* Adjust this value to control space between categories */
  }
  .archive-item {
    margin-bottom: 1.5rem; /* Adjust this value to control space between posts */
  }
  .category-head {
    margin-bottom: 0.5rem; /* Adjust this value to control space between category title and posts */
  }
</style>


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>


